@tailwind base;
@tailwind components;
@tailwind utilities;


.hiddenscroll {
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* Internet Explorer 10+ */
}

.hiddenscroll::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari, Brave, Edge */
}