---
import { getUrls } from "@/shared/newUtils";
import Ripples from "../Ripples.astro";

import { getI18NGlobal, getValueFromKey } from "@/i18n";
const { currentLocale } = Astro;

const i18n_global = getI18NGlobal({ currentLocale });
const t_global = (key: string) => {
  return getValueFromKey(key, i18n_global);
};

const tvs = await getUrls({
  currentLocale: currentLocale || "es",
  category_id: "tvs",
  table: "products",
});
---

<section class="relative mt-12 overflow-hidden">
  <div
    class="w-[80%] max-w-[1536px] lg:w-[80%] h-80 from-neutral-300 to-transparent bg-gradient-to-b absolute top-10 left-1/2 -translate-x-1/2 rounded-[50px]"
  >
  </div>

  <div
    id="video"
    class="w-[90%] sm:w-[60%] lg:w-[30%] max-w-[500px] origin-top relative mx-auto transition-all duration-150 ease-out z-10"
  >
    <div class="absolute bottom-10 scale-[.4] sm:scale-50 left-10">
      <Ripples numRipples={4} />
    </div>

    <div class="absolute right-10 bottom-10 scale-[.4] sm:scale-50">
      <Ripples numRipples={4} />
    </div>

    <img
      src="/newVersion/marcoTV.webp"
      class="w-full absolute top-[-3px] z-10 origin-top"
      alt="MARCO DE TV"
    />

    <video
      loop
      width="100%"
      class="relative scale-[0.98]"
      height="auto"
      autoplay
      muted
      poster="/newVersion/poster.webp"
    >
      <source src="/newVersion/TvsSection.mp4" type="video/mp4" />
      Tu navegador no soporta el video.
    </video>
  </div>

  <div class="w-full mt-20 relative">
    <h3
      class="text-2xl flex justify-center items-center text-white text-center py-1 bg-interbrasGreen-500 font-medium relative z-10 w-min mx-auto text-nowrap pr-1 pl-4 rounded-xl"
    >
      <span class=""> Interbras Tvs </span>
      <span class="bg-white rounded-xl ml-3 px-3 text-neutral-800">
        {t_global("home.tvs.sizes")}
      </span>
    </h3>

    <div
      class="gap-2 flex mx-auto w-full max-w-3xl justify-center mt-4 flex-wrap"
    >
      {
        tvs.map((item) => (
          <a
            href={item.url}
            class=" hover:bg-neutral-200 border-neutral-300 transition-colors  px-2  py-1 bg-neutral-300 rounded-lg text-nowrap border"
          >
            {item.name}
          </a>
        ))
      }
    </div>
  </div>
</section>

<style>
  section {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
</style>
