---
import OtherProductCard from "./OtherProductCard.astro";
---

<section class=' grid grid-cols-2  lg:grid-cols-4 gap-6 '>
    <OtherProductCard delay={0.5} name='home.OtherProductsSection.1' image='/home/otherProductsSection/1.webp' url='/productos/planchas' />
    <OtherProductCard delay={0.7} name='home.OtherProductsSection.2' image='/home/otherProductsSection/2.webp' url='/productos/licuadoras' />
    <OtherProductCard delay={0.9} name='home.OtherProductsSection.3' image='/home/otherProductsSection/3.webp' url='/productos/beauty' />
    <OtherProductCard delay={1.2} name='home.OtherProductsSection.4' image='/home/otherProductsSection/4.webp' url='/productos/batidoras' />
  </section>

<section class=' grid grid-cols-2 gap-6 h-72  sm:h-auto '>
  <OtherProductCard delay={0.5} name='home.OtherProductsSection.5' image='/home/otherProductsSection/5.webp' url='/productos/arroceras' />
  <OtherProductCard delay={0.7} name='home.OtherProductsSection.6' image='/home/otherProductsSection/6.webp' url='/productos/bebederos' />
</section>
